body{
	margin: 0;
	background: black;
	font-family: monospace;;
}
.container{
	display: grid;
	grid-template-columns: 1fr;

}
.nav-wrapper{
	background: linear-gradient(to left, #AE358C, #7D13BF);
	color: #FFFFFF;
	display: flex;
	justify-content: space-between;
	padding: 1em;
	font-size: 1.5em;
}
.right{
	display: flex;
	justify-content: space-between;

}
.left{
	padding: 0.5em;
	align-self: center;
	font-size: 1.5em;
}
.nav-link-wrapper a{
	display: flex;
	justify-content: space-between;
	padding: 1em;
	text-decoration: none;
	color: #FFFFFF;
	background: transparent;
	transition: 0.5s;
	font-weight: 700;

}

.nav-link-wrapper a:hover{
	background: white;
	color: #7D13BF;
}

#active a{
	background: black;
	color: #7D13BF;
	animation: back_blink 1s;
}
.about-me-content{
	display: grid;
	grid-template-columns: 1fr 1fr;
	animation: 1s ease-out 0s 1 slide_in;
}
.profile-info{
	color: white;
	margin: auto;
	font-size: 3em;
	padding-right: 1em;
}
.profile-info p{
	text-align: center;
}
.profile-image{
	margin: auto;
	padding-top: 5em;
}
.profile-image img{
	border: 10px solid #AE358C;
	border-radius: 10%;
}


.hobbies-list-wrapper{
	color: white;
	animation: 1s ease-out 0s 1 slide_in;
}
.hobbies-list{
	list-style-type: none;
	font-size: 5em; 
}

.hobbies-list-item{	
	display: flex;
	justify-content: center;
	color: white;
	transition: 1s;
}
.hobbies-list-item:hover{
	color: yellow;
} 
/*skill list*/
.skills-list-wrapper{
	display: grid;
	grid-template-columns: 1fr 1fr;
	color: white;
	animation: 1s ease-out 0s 1 slide_in;
}
.skills-list{
	list-style-type: none;
	font-size: 5em; 
}
.skills-rating{
	list-style-type: none;
	color: yellow;
	font-size: 5em;
	line-height: 1.15;
}
.skills-list-item{	
	display: flex;
	justify-content: center;
	color: white;
	transition: 1s;
}
.skills-list-item:hover{
	color: yellow;
}

@keyframes slide_in {
  0% {
/*     transform: translateX(-100%);
    background: white; */
	  opacity: 0%;
  }
  100% {
/*     transform: translateX(0);
    background: black; */
	  opacity: 100%;
  }
}
@keyframes back_blink{
	0%{
		background: white;
	}

	100%{
		background: black
	}
}
